body{

margin:0;

font-family:Arial;

background:
repeating-linear-gradient(
90deg,
#6d6d6d 0px,
#7d7d7d 40px,
#5b5b5b 80px
);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.contenedor{

width:500px;

padding:40px;

background:#2e2e2e;

border:4px solid black;

text-align:center;

box-shadow:0px 0px 30px black;

}

h1{

color:#c7a64b;

font-size:30px;

margin-bottom:50px;

}

.panel{

display:flex;

justify-content:space-around;

}

button{

width:170px;

height:70px;

font-size:22px;

font-weight:bold;

cursor:pointer;

border:none;

border-radius:8px;

}

.verde{

background:#28a745;

color:white;

}

.rojo{

background:#d63031;

color:white;

}

#mensaje{

margin-top:40px;

color:white;

font-size:22px;

}

.instrumentos{

display:flex;

justify-content:space-around;

align-items:center;

margin-top:30px;

}

.temperatura{

width:45%;

}

.humedad{

width:45%;

}

.tanque{

width:120px;

height:220px;

margin:auto;

border:4px solid black;

background:white;

overflow:hidden;

position:relative;

}

#agua{

position:absolute;

bottom:0;

width:100%;

height:0%;

background:#3498db;

transition:height 1s;

}

#valorTemp{

font-size:28px;

font-weight:bold;

color:white;

}

#valorHum{

font-size:28px;

font-weight:bold;

color:white;

}

#estado{

color:#00ff00;

margin-top:30px;

}

#espera{

color:white;

padding:50px;

font-size:24px;

text-align:center;

animation:parpadeo 1s infinite;

}

@keyframes parpadeo{

0%{opacity:1;}

50%{opacity:0.4;}

100%{opacity:1;}

}

input{

width:250px;

height:45px;

font-size:20px;

text-align:center;

border-radius:8px;

border:none;

}

#entrar{

background:#0066cc;

color:white;

width:180px;

height:60px;

font-size:22px;

cursor:pointer;

border:none;

border-radius:8px;

}

#error{

color:#ff5555;

font-size:20px;

height:25px;

}